@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Management/Views/Shared/Layout.cshtml";
}
@model Tuple<List<Blue.Presentation.WarmingViewModel>>

@foreach (Blue.Presentation.WarmingViewModel WarmingViewModel in Model.Item1)
{
    <h1><a href="/management/warming/update/@WarmingViewModel.Id">@WarmingViewModel.Id</a></h1>
}