@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Management/Views/Shared/Layout.cshtml";
}
@model Tuple<List<Blue.Presentation.WarmingViewModel>>

@foreach (Blue.Presentation.WarmingViewModel WarmingViewModel in Model.Item1)
{
    <h1>@WarmingViewModel.Id</h1>
}