@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Management/Views/Shared/Layout.cshtml";
}
@model Tuple<List<Blue.Presentation.StatusViewModel>>

@foreach (Blue.Presentation.StatusViewModel StatusViewModel in Model.Item1)
{
    <h1><a href="/management/status/update/@StatusViewModel.Id">@StatusViewModel.Id</a></h1>
}