@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Management/Views/Shared/Layout.cshtml";
}
@model Tuple<Blue.Presentation.RealEstateViewModel, Blue.Presentation.RealEstateDetailViewModel>

<h1>Delete</h1>

<div>@Model.Item1.Id</div>
<div>@Model.Item1.Name</div>
<div>@Model.Item1.RegisterDate</div>
<div>@Model.Item1.UpdateDate</div>