@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Management/Views/Shared/Layout.cshtml";
}
@model Tuple<Blue.Presentation.RealEstateViewModel, Blue.Presentation.RealEstateDetailViewModel>

<h1>Delete</h1>