@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Management/Views/Shared/Layout.cshtml";
}
@model Tuple<List<Blue.Presentation.RealEstateViewModel>>

<section class="post-wrapper-top dm-shadow clearfix">
    <div class="container">
        <div class="post-wrapper-top-shadow">
            <span class="s1"></span>
        </div>
        <div class="col-lg-12">
            <ul class="breadcrumb">
                <li><a href="/management">Home</a></li>
                <li><a href="/management/realestate">RealEstates</a></li>
            </ul>
        </div>
    </div>
</section>

<section class="generalwrapper dm-shadow clearfix">
    <div class="container">
        <div class="row">
            <div id="content" class="col-lg-9 col-md-9 col-sm-9 col-xs-12 clearfix">
                <div class="blog_container clearfix">

                    <a href="/management/realestate/create">Yeni</a>

                    <div class="col-lg-4 col-md-4 col-sm-12 first">
                        <article class="blog-wrap boxes portfolio-wrap">
                            <div class="blog-media">
                                <div class="ImageWrapper boxes_img">
                                    <img class="img-responsive" src="demos/02_home.jpg" alt="">
                                    <div class="ImageOverlayH"></div>
                                    <div class="Buttons StyleMg">
                                        <span class="WhiteSquare"><a class="fancybox" href="demos/02_home.jpg"><i class="fa fa-search"></i></a></span>
                                        <span class="WhiteSquare"><a href="single-gallery.html"><i class="fa fa-link"></i></a></span>
                                    </div>
                                    <div class="status_type">House</div>
                                </div>
                            </div>
                            <div class="post-content">
                                <h2><a href="single-gallery.html">House Image Gallery</a></h2>
                            </div>
                        </article>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <article class="blog-wrap boxes portfolio-wrap">
                            <div class="blog-media">
                                <div class="ImageWrapper boxes_img">
                                    <img class="img-responsive" src="demos/03_home.jpg" alt="">
                                    <div class="ImageOverlayH"></div>
                                    <div class="Buttons StyleMg">
                                        <span class="WhiteSquare"><a class="fancybox" href="demos/03_home.jpg"><i class="fa fa-search"></i></a></span>
                                        <span class="WhiteSquare"><a href="single-gallery.html"><i class="fa fa-link"></i></a></span>
                                    </div>
                                    <div class="status_type">Villa</div>
                                </div>
                                <!-- ImageWrappe>
                                </div><!-- end blog media -->
                                <div class="post-content">
                                    <h2><a href="single-gallery.html">Villa Image Gallery</a></h2>
                                </div><!-- post-content -->
                            </div>
                        </article><!-- end blog wrap -->
                    </div><!-- end col-lg-3 -->

                    <div class="col-lg-4 col-md-4 col-sm-12 last">
                        <article class="blog-wrap boxes portfolio-wrap">
                            <div class="blog-media">
                                <div class="ImageWrapper boxes_img">
                                    <img class="img-responsive" src="demos/04_home.jpg" alt="">
                                    <div class="ImageOverlayH"></div>
                                    <div class="Buttons StyleMg">
                                        <span class="WhiteSquare"><a class="fancybox" href="demos/04_home.jpg"><i class="fa fa-search"></i></a></span>
                                        <span class="WhiteSquare"><a href="single-gallery.html"><i class="fa fa-link"></i></a></span>
                                    </div>
                                    <div class="status_type">Apertment</div>
                                </div>
                                <!-- ImageWrappe>
                                </div><!-- end blog media -->
                                <div class="post-content">
                                    <h2><a href="single-gallery.html">Apertment Image Gallery</a></h2>
                                </div><!-- post-content -->
                            </div>
                        </article><!-- end blog wrap -->
                    </div><!-- end col-lg-3 -->

                    <div class="col-lg-4 col-md-4 col-sm-12 first">
                        <article class="blog-wrap boxes portfolio-wrap">
                            <div class="blog-media">
                                <div class="ImageWrapper boxes_img">
                                    <img class="img-responsive" src="demos/05_home.png" alt="">
                                    <div class="ImageOverlayH"></div>
                                    <div class="Buttons StyleMg">
                                        <span class="WhiteSquare"><a class="fancybox" href="demos/05_home.html"><i class="fa fa-search"></i></a></span>
                                        <span class="WhiteSquare"><a href="single-gallery.html"><i class="fa fa-link"></i></a></span>
                                    </div>
                                    <div class="status_type">Condo</div>
                                </div>
                                <!-- ImageWrappe>
                                </div><!-- end blog media -->
                                <div class="post-content">
                                    <h2><a href="single-gallery.html">Condo Image Gallery</a></h2>
                                </div><!-- post-content -->
                        </article><!-- end blog wrap -->
                    </div><!-- end col-lg-3 -->

                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <article class="blog-wrap boxes portfolio-wrap">
                            <div class="blog-media">
                                <div class="ImageWrapper boxes_img">
                                    <img class="img-responsive" src="demos/01_home.jpg" alt="">
                                    <div class="ImageOverlayH"></div>
                                    <div class="Buttons StyleMg">
                                        <span class="WhiteSquare"><a class="fancybox" href="demos/01_home.jpg"><i class="fa fa-search"></i></a></span>
                                        <span class="WhiteSquare"><a href="single-gallery.html"><i class="fa fa-link"></i></a></span>
                                    </div>
                                    <div class="status_type">Cottoge</div>
                                </div>
                                <!-- ImageWrappe>
                                </div><!-- end blog media -->
                                <div class="post-content">
                                    <h2><a href="single-gallery.html">Cottoge Image Gallery</a></h2>
                                </div><!-- post-content -->
                        </article><!-- end blog wrap -->
                    </div><!-- end col-lg-3 -->

                    <div class="col-lg-4 col-md-4 col-sm-12 last">
                        <article class="blog-wrap boxes portfolio-wrap">
                            <div class="blog-media">
                                <div class="ImageWrapper boxes_img">
                                    <img class="img-responsive" src="demos/06_home.png" alt="">
                                    <div class="ImageOverlayH"></div>
                                    <div class="Buttons StyleMg">
                                        <span class="WhiteSquare"><a class="fancybox" href="demos/06_home.png"><i class="fa fa-search"></i></a></span>
                                        <span class="WhiteSquare"><a href="single-gallery.html"><i class="fa fa-link"></i></a></span>
                                    </div>
                                    <div class="status_type">Travel</div>
                                </div>
                                <!-- ImageWrappe>
                                </div><!-- end blog media -->
                                <div class="post-content">
                                    <h2><a href="single-gallery.html">Travel Image Gallery</a></h2>
                                </div><!-- post-content -->
                        </article><!-- end blog wrap -->
                    </div><!-- end col-lg-3 -->

                    <div class="col-lg-4 col-md-4 col-sm-12 first">
                        <article class="blog-wrap boxes portfolio-wrap">
                            <div class="blog-media">
                                <div class="ImageWrapper boxes_img">
                                    <img class="img-responsive" src="demos/07_home.png" alt="">
                                    <div class="ImageOverlayH"></div>
                                    <div class="Buttons StyleMg">
                                        <span class="WhiteSquare"><a class="fancybox" href="demos/07_home.png"><i class="fa fa-search"></i></a></span>
                                        <span class="WhiteSquare"><a href="single-gallery.html"><i class="fa fa-link"></i></a></span>
                                    </div>
                                    <div class="status_type">Summerhouse</div>
                                </div>
                                <!-- ImageWrappe>
                                </div><!-- end blog media -->
                                <div class="post-content">
                                    <h2><a href="single-gallery.html">Summerhouse Image Gallery</a></h2>
                                </div><!-- post-content -->
                        </article><!-- end blog wrap -->
                    </div><!-- end col-lg-3 -->

                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <article class="blog-wrap boxes portfolio-wrap">
                            <div class="blog-media">
                                <div class="ImageWrapper boxes_img">
                                    <img class="img-responsive" src="demos/08_home.png" alt="">
                                    <div class="ImageOverlayH"></div>
                                    <div class="Buttons StyleMg">
                                        <span class="WhiteSquare"><a class="fancybox" href="demos/08_home.png"><i class="fa fa-search"></i></a></span>
                                        <span class="WhiteSquare"><a href="single-gallery.html"><i class="fa fa-link"></i></a></span>
                                    </div>
                                    <div class="status_type">Resort</div>
                                </div>
                                <!-- ImageWrappe>
                                </div><!-- end blog media -->
                                <div class="post-content">
                                    <h2><a href="single-gallery.html">Resort Image Gallery</a></h2>
                                </div><!-- post-content -->
                        </article><!-- end blog wrap -->
                    </div><!-- end col-lg-3 -->

                    <div class="col-lg-4 col-md-4 col-sm-12 last">
                        <article class="blog-wrap boxes portfolio-wrap">
                            <div class="blog-media">
                                <div class="ImageWrapper boxes_img">
                                    <img class="img-responsive" src="demos/09_home.png" alt="">
                                    <div class="ImageOverlayH"></div>
                                    <div class="Buttons StyleMg">
                                        <span class="WhiteSquare"><a class="fancybox" href="demos/09_home.png"><i class="fa fa-search"></i></a></span>
                                        <span class="WhiteSquare"><a href="single-gallery.html"><i class="fa fa-link"></i></a></span>
                                    </div>
                                    <div class="status_type">Emporium</div>
                                </div>
                                <!-- ImageWrappe>
                                </div><!-- end blog media -->
                                <div class="post-content">
                                    <h2><a href="single-gallery.html">Emporium Image Gallery</a></h2>
                                </div><!-- post-content -->
                        </article><!-- end blog wrap -->
                    </div><!-- end col-lg-3 -->

                    <div class="col-lg-4 col-md-4 col-sm-12 first">
                        <article class="blog-wrap boxes portfolio-wrap">
                            <div class="blog-media">
                                <div class="ImageWrapper boxes_img">
                                    <img class="img-responsive" src="demos/03_home.jpg" alt="">
                                    <div class="ImageOverlayH"></div>
                                    <div class="Buttons StyleMg">
                                        <span class="WhiteSquare"><a class="fancybox" href="demos/03_home.jpg"><i class="fa fa-search"></i></a></span>
                                        <span class="WhiteSquare"><a href="single-gallery.html"><i class="fa fa-link"></i></a></span>
                                    </div>
                                    <div class="status_type">Arable Field</div>
                                </div>
                                <!-- ImageWrappe>
                                </div><!-- end blog media -->
                                <div class="post-content">
                                    <h2><a href="single-gallery.html">Arable Field Image Gallery</a></h2>
                                </div><!-- post-content -->
                        </article><!-- end blog wrap -->
                    </div><!-- end col-lg-3 -->

                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <article class="blog-wrap boxes portfolio-wrap">
                            <div class="blog-media">
                                <div class="ImageWrapper boxes_img">
                                    <img class="img-responsive" src="demos/04_home.jpg" alt="">
                                    <div class="ImageOverlayH"></div>
                                    <div class="Buttons StyleMg">
                                        <span class="WhiteSquare"><a class="fancybox" href="demos/04_home.jpg"><i class="fa fa-search"></i></a></span>
                                        <span class="WhiteSquare"><a href="single-gallery.html"><i class="fa fa-link"></i></a></span>
                                    </div>
                                    <div class="status_type">Shop</div>
                                </div>
                                <!-- ImageWrappe>
                                </div><!-- end blog media -->
                                <div class="post-content">
                                    <h2><a href="single-gallery.html">Shop Image Gallery</a></h2>
                                </div><!-- post-content -->
                        </article><!-- end blog wrap -->
                    </div><!-- end col-lg-3 -->

                    <div class="col-lg-4 col-md-4 col-sm-12 last">
                        <article class="blog-wrap boxes portfolio-wrap">
                            <div class="blog-media">
                                <div class="ImageWrapper boxes_img">
                                    <img class="img-responsive" src="demos/05_home.png" alt="">
                                    <div class="ImageOverlayH"></div>
                                    <div class="Buttons StyleMg">
                                        <span class="WhiteSquare"><a class="fancybox" href="demos/05_home.html"><i class="fa fa-search"></i></a></span>
                                        <span class="WhiteSquare"><a href="single-gallery.html"><i class="fa fa-link"></i></a></span>
                                    </div>
                                    <div class="status_type">Housing</div>
                                </div>
                                <!-- ImageWrappe>
                                </div><!-- end blog media -->
                                <div class="post-content">
                                    <h2><a href="single-gallery.html">Housing Image Gallery</a></h2>
                                </div><!-- post-content -->
                            </div>
                        </article><!-- end blog wrap -->
                    </div><!-- end col-lg-3 -->

                </div>
            </div>

            <div id="right_sidebar" class="col-lg-3 col-md-3 col-sm-3 col-xs-12 last clearfix">
                <div class="widget clearfix">
                    <div class="search_widget">
                        <div class="title"><h3><i class="fa fa-search"></i> Search For Property</h3></div>
                        <form action="#" id="search_form">
                            <input type="text" class="form-control" placeholder="Search by ID or property name...">
                        </form><!-- end search form -->
                    </div><!-- end search_widget -->
                </div><!-- end widget -->

                <div class="widget clearfix">
                    <div class="title"><h3>Categories</h3></div>
                    <ul class="list">
                        <li><a title="" href="#">News & Updates</a></li>
                        <li><a title="" href="#">Image Galleries</a></li>
                        <li><a title="" href="#">Videos / Musics</a></li>
                        <li><a title="" href="#">Real Estate Deals</a></li>
                        <li><a title="" href="#">Meet up!</a></li>
                        <li><a title="" href="#">Say hello</a></li>
                    </ul>
                </div><!-- end widget -->

                <div class="widget clearfix">
                    <div class="title"><h3>Twitter Stream</h3></div>
                    <ul class="tweet">
                        <li>
                            <a title="" href="#"></a> Latin words, combined with sentence structures, to generate Lorem Ipsum which looks reasonable.
                            <small><a href="#">12 Minutes Ago</a></small>
                        </li>
                        <li>
                            <a title="" href="#"></a> To generate Lorem Ipsum which looks reasonable.
                            <small><a href="#">34 Minutes Ago</a></small>
                        </li>
                    </ul>
                </div>

                <div class="widget clearfix">
                    <div class="title"><h3>Banner Ads</h3></div>
                    <img data-effect="fade" class="text-center img-thumbnail img-responsive" src="demos/01_banner.png" alt="">
                </div><!-- end of widget -->
            </div><!-- end sidebar -->

        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end generalwrapper -->

@foreach (Blue.Presentation.RealEstateViewModel RealEstateViewModel in Model.Item1)
{
    <h1><a href="/management/realestate/update/@RealEstateViewModel.Id">@RealEstateViewModel.Id</a></h1>
}