@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Management/Views/Shared/Layout.cshtml";
}
@model Tuple<List<Blue.Presentation.RealEstateViewModel>>

@foreach (Blue.Presentation.RealEstateViewModel RealEstateViewModel in Model.Item1)
{
    <h1><a href="/management/realestate/update/@RealEstateViewModel.Id">@RealEstateViewModel.Id</a></h1>
}