@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/Management/Views/Shared/Layout.cshtml";
}
@model Tuple<Blue.Presentation.RealEstateViewModel, Blue.Presentation.RealEstateDetailViewModel>

<h1>Update</h1>