/.vs/Blue/v17/.suo
/.vs/Blue/FileContentIndex/e058b864-8124-4edc-a45f-b3a5c4f20c12.vsidx
/.vs/Blue/FileContentIndex/read.lock
/Blue.Core/bin/Debug/net6.0/Blue.Core.deps.json
/Blue.Core/bin/Debug/net6.0/Blue.Core.dll
/Blue.Core/bin/Debug/net6.0/Blue.Core.pdb
/Blue.Core/obj/Blue.Core.csproj.nuget.dgspec.json
/Blue.Core/obj/Blue.Core.csproj.nuget.g.props
/Blue.Core/obj/Blue.Core.csproj.nuget.g.targets
/Blue.Core/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Blue.Core/obj/Debug/net6.0/Blue.Core.AssemblyInfo.cs
/Blue.Core/obj/Debug/net6.0/Blue.Core.AssemblyInfoInputs.cache
/Blue.Core/obj/Debug/net6.0/Blue.Core.assets.cache
/Blue.Core/obj/Debug/net6.0/Blue.Core.csproj.AssemblyReference.cache
/Blue.Core/obj/Debug/net6.0/Blue.Core.csproj.CoreCompileInputs.cache
/Blue.Core/obj/Debug/net6.0/Blue.Core.csproj.FileListAbsolute.txt
/Blue.Core/obj/Debug/net6.0/Blue.Core.dll
/Blue.Core/obj/Debug/net6.0/Blue.Core.GeneratedMSBuildEditorConfig.editorconfig
/Blue.Core/obj/Debug/net6.0/Blue.Core.GlobalUsings.g.cs
/Blue.Core/obj/Debug/net6.0/Blue.Core.pdb
/Blue.Core/obj/Debug/net6.0/ref/Blue.Core.dll
/Blue.Core/obj/Debug/net6.0/refint/Blue.Core.dll
/Blue.Core/obj/project.assets.json
/Blue.Core/obj/project.nuget.cache
/.vs/Blue/DesignTimeBuild/.dtbcache.v2
/.vs/Blue/FileContentIndex/97f835c5-cd68-4cd8-855d-d2a312679376.vsidx
/.vs/Blue/FileContentIndex/bc324796-d473-421c-8f6d-61cf4d52a3f5.vsidx
/Blue.Common/bin/Debug/net6.0/Blue.Common.deps.json
/Blue.Common/bin/Debug/net6.0/Blue.Common.dll
/Blue.Common/bin/Debug/net6.0/Blue.Common.pdb
/Blue.DataAccess/bin/Debug/net6.0/Blue.DataAccess.deps.json
/Blue.DataAccess/bin/Debug/net6.0/Blue.DataAccess.dll
/Blue.DataAccess/bin/Debug/net6.0/Blue.DataAccess.pdb
/Blue.Common/obj/Blue.Common.csproj.nuget.dgspec.json
/Blue.Common/obj/Blue.Common.csproj.nuget.g.props
/Blue.Common/obj/Blue.Common.csproj.nuget.g.targets
/Blue.Common/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Blue.Common/obj/Debug/net6.0/Blue.Common.AssemblyInfo.cs
/Blue.Common/obj/Debug/net6.0/Blue.Common.AssemblyInfoInputs.cache
/Blue.Common/obj/Debug/net6.0/Blue.Common.assets.cache
/Blue.Common/obj/Debug/net6.0/Blue.Common.csproj.AssemblyReference.cache
/Blue.Common/obj/Debug/net6.0/Blue.Common.csproj.CoreCompileInputs.cache
/Blue.Common/obj/Debug/net6.0/Blue.Common.csproj.FileListAbsolute.txt
/Blue.Common/obj/Debug/net6.0/Blue.Common.dll
/Blue.Common/obj/Debug/net6.0/Blue.Common.GeneratedMSBuildEditorConfig.editorconfig
/Blue.Common/obj/Debug/net6.0/Blue.Common.GlobalUsings.g.cs
/Blue.Common/obj/Debug/net6.0/Blue.Common.pdb
/Blue.Common/obj/Debug/net6.0/ref/Blue.Common.dll
/Blue.Common/obj/Debug/net6.0/refint/Blue.Common.dll
/Blue.Common/obj/project.assets.json
/Blue.Common/obj/project.nuget.cache
/Blue.DataAccess/obj/Blue.DataAccess.csproj.nuget.dgspec.json
/Blue.DataAccess/obj/Blue.DataAccess.csproj.nuget.g.props
/Blue.DataAccess/obj/Blue.DataAccess.csproj.nuget.g.targets
/Blue.DataAccess/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Blue.DataAccess/obj/Debug/net6.0/Blue.DataAccess.AssemblyInfo.cs
/Blue.DataAccess/obj/Debug/net6.0/Blue.DataAccess.AssemblyInfoInputs.cache
/Blue.DataAccess/obj/Debug/net6.0/Blue.DataAccess.assets.cache
/Blue.DataAccess/obj/Debug/net6.0/Blue.DataAccess.csproj.AssemblyReference.cache
/Blue.DataAccess/obj/Debug/net6.0/Blue.DataAccess.csproj.CoreCompileInputs.cache
/Blue.DataAccess/obj/Debug/net6.0/Blue.DataAccess.csproj.FileListAbsolute.txt
/Blue.DataAccess/obj/Debug/net6.0/Blue.DataAccess.dll
/Blue.DataAccess/obj/Debug/net6.0/Blue.DataAccess.GeneratedMSBuildEditorConfig.editorconfig
/Blue.DataAccess/obj/Debug/net6.0/Blue.DataAccess.GlobalUsings.g.cs
/Blue.DataAccess/obj/Debug/net6.0/Blue.DataAccess.pdb
/Blue.DataAccess/obj/Debug/net6.0/ref/Blue.DataAccess.dll
/Blue.DataAccess/obj/Debug/net6.0/refint/Blue.DataAccess.dll
/Blue.DataAccess/obj/project.assets.json
/Blue.DataAccess/obj/project.nuget.cache
/.vs/Blue/FileContentIndex/866106f5-4978-4682-b90d-46eaa81a8dc6.vsidx
/.vs/Blue/FileContentIndex/a704d2ec-4d5d-41a2-8756-8da4d933eb97.vsidx
/.vs/Blue/FileContentIndex/bc6158d7-ee9f-46e5-b4f1-40be2ca6c446.vsidx
/Blue.Business/bin/Debug/net6.0/Blue.Business.deps.json
/Blue.Business/bin/Debug/net6.0/Blue.Business.dll
/Blue.Business/bin/Debug/net6.0/Blue.Business.pdb
/Blue.Logging/bin/Debug/net6.0/Blue.Logging.deps.json
/Blue.Logging/bin/Debug/net6.0/Blue.Logging.dll
/Blue.Logging/bin/Debug/net6.0/Blue.Logging.pdb
/Blue.Business/obj/Blue.Business.csproj.nuget.dgspec.json
/Blue.Business/obj/Blue.Business.csproj.nuget.g.props
/Blue.Business/obj/Blue.Business.csproj.nuget.g.targets
/Blue.Business/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Blue.Business/obj/Debug/net6.0/Blue.Business.AssemblyInfo.cs
/Blue.Business/obj/Debug/net6.0/Blue.Business.AssemblyInfoInputs.cache
/Blue.Business/obj/Debug/net6.0/Blue.Business.assets.cache
/Blue.Business/obj/Debug/net6.0/Blue.Business.csproj.AssemblyReference.cache
/Blue.Business/obj/Debug/net6.0/Blue.Business.csproj.CoreCompileInputs.cache
/Blue.Business/obj/Debug/net6.0/Blue.Business.csproj.FileListAbsolute.txt
/Blue.Business/obj/Debug/net6.0/Blue.Business.dll
/Blue.Business/obj/Debug/net6.0/Blue.Business.GeneratedMSBuildEditorConfig.editorconfig
/Blue.Business/obj/Debug/net6.0/Blue.Business.GlobalUsings.g.cs
/Blue.Business/obj/Debug/net6.0/Blue.Business.pdb
/Blue.Business/obj/Debug/net6.0/ref/Blue.Business.dll
/Blue.Business/obj/Debug/net6.0/refint/Blue.Business.dll
/Blue.Business/obj/project.assets.json
/Blue.Business/obj/project.nuget.cache
/Blue.Logging/obj/Blue.Logging.csproj.nuget.dgspec.json
/Blue.Logging/obj/Blue.Logging.csproj.nuget.g.props
/Blue.Logging/obj/Blue.Logging.csproj.nuget.g.targets
/Blue.Logging/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Blue.Logging/obj/Debug/net6.0/Blue.Logging.AssemblyInfo.cs
/Blue.Logging/obj/Debug/net6.0/Blue.Logging.AssemblyInfoInputs.cache
/Blue.Logging/obj/Debug/net6.0/Blue.Logging.assets.cache
/Blue.Logging/obj/Debug/net6.0/Blue.Logging.csproj.AssemblyReference.cache
/Blue.Logging/obj/Debug/net6.0/Blue.Logging.csproj.CoreCompileInputs.cache
/Blue.Logging/obj/Debug/net6.0/Blue.Logging.csproj.FileListAbsolute.txt
/Blue.Logging/obj/Debug/net6.0/Blue.Logging.dll
/Blue.Logging/obj/Debug/net6.0/Blue.Logging.GeneratedMSBuildEditorConfig.editorconfig
/Blue.Logging/obj/Debug/net6.0/Blue.Logging.GlobalUsings.g.cs
/Blue.Logging/obj/Debug/net6.0/Blue.Logging.pdb
/Blue.Logging/obj/Debug/net6.0/ref/Blue.Logging.dll
/Blue.Logging/obj/Debug/net6.0/refint/Blue.Logging.dll
/Blue.Logging/obj/project.assets.json
/Blue.Logging/obj/project.nuget.cache
