/.vs/Blue/v17/.suo
/.vs/Blue/FileContentIndex/ed0e9d58-b54f-4c1b-a2d3-5ba21e7d4b5b.vsidx
/Blue.Presentation/bin/Debug/net7.0/appsettings.Development.json
/Blue.Presentation/bin/Debug/net7.0/appsettings.json
/Blue.Presentation/bin/Debug/net7.0/Blue.Presentation.deps.json
/Blue.Presentation/bin/Debug/net7.0/Blue.Presentation.dll
/Blue.Presentation/bin/Debug/net7.0/Blue.Presentation.exe
/Blue.Presentation/bin/Debug/net7.0/Blue.Presentation.pdb
/Blue.Presentation/bin/Debug/net7.0/Blue.Presentation.runtimeconfig.json
/Blue.Presentation/bin/Debug/net7.0/Blue.Presentation.staticwebassets.runtime.json
/Blue.Presentation/obj/Blue.Presentation.csproj.nuget.dgspec.json
/Blue.Presentation/obj/Blue.Presentation.csproj.nuget.g.props
/Blue.Presentation/obj/Blue.Presentation.csproj.nuget.g.targets
/Blue.Presentation/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/Blue.Presentation/obj/Debug/net7.0/apphost.exe
/Blue.Presentation/obj/Debug/net7.0/Blue.Presentation.AssemblyInfo.cs
/Blue.Presentation/obj/Debug/net7.0/Blue.Presentation.AssemblyInfoInputs.cache
/Blue.Presentation/obj/Debug/net7.0/Blue.Presentation.assets.cache
/Blue.Presentation/obj/Debug/net7.0/Blue.Presentation.csproj.CoreCompileInputs.cache
/Blue.Presentation/obj/Debug/net7.0/Blue.Presentation.csproj.FileListAbsolute.txt
/Blue.Presentation/obj/Debug/net7.0/Blue.Presentation.dll
/Blue.Presentation/obj/Debug/net7.0/Blue.Presentation.GeneratedMSBuildEditorConfig.editorconfig
/Blue.Presentation/obj/Debug/net7.0/Blue.Presentation.genruntimeconfig.cache
/Blue.Presentation/obj/Debug/net7.0/Blue.Presentation.GlobalUsings.g.cs
/Blue.Presentation/obj/Debug/net7.0/Blue.Presentation.MvcApplicationPartsAssemblyInfo.cache
/Blue.Presentation/obj/Debug/net7.0/Blue.Presentation.pdb
/Blue.Presentation/obj/Debug/net7.0/Blue.Presentation.RazorAssemblyInfo.cache
/Blue.Presentation/obj/Debug/net7.0/Blue.Presentation.RazorAssemblyInfo.cs
/Blue.Presentation/obj/Debug/net7.0/Blue.Presentation.sourcelink.json
/Blue.Presentation/obj/Debug/net7.0/ref/Blue.Presentation.dll
/Blue.Presentation/obj/Debug/net7.0/refint/Blue.Presentation.dll
/Blue.Presentation/obj/Debug/net7.0/scopedcss/bundle/Blue.Presentation.styles.css
/Blue.Presentation/obj/Debug/net7.0/scopedcss/projectbundle/Blue.Presentation.bundle.scp.css
/Blue.Presentation/obj/Debug/net7.0/scopedcss/Views/Shared/_Layout.cshtml.rz.scp.css
/Blue.Presentation/obj/Debug/net7.0/staticwebassets.build.json
/Blue.Presentation/obj/Debug/net7.0/staticwebassets.development.json
/Blue.Presentation/obj/Debug/net7.0/staticwebassets.pack.json
/Blue.Presentation/obj/Debug/net7.0/staticwebassets/msbuild.Blue.Presentation.Microsoft.AspNetCore.StaticWebAssets.props
/Blue.Presentation/obj/Debug/net7.0/staticwebassets/msbuild.build.Blue.Presentation.props
/Blue.Presentation/obj/Debug/net7.0/staticwebassets/msbuild.buildMultiTargeting.Blue.Presentation.props
/Blue.Presentation/obj/Debug/net7.0/staticwebassets/msbuild.buildTransitive.Blue.Presentation.props
/Blue.Presentation/obj/project.assets.json
/Blue.Presentation/obj/project.nuget.cache
