/.vs/Blue/v17/.suo
/.vs/Blue/FileContentIndex/e058b864-8124-4edc-a45f-b3a5c4f20c12.vsidx
/.vs/Blue/FileContentIndex/read.lock
/Blue.Core/bin/Debug/net6.0/Blue.Core.deps.json
/Blue.Core/bin/Debug/net6.0/Blue.Core.dll
/Blue.Core/bin/Debug/net6.0/Blue.Core.pdb
/Blue.Core/obj/Blue.Core.csproj.nuget.dgspec.json
/Blue.Core/obj/Blue.Core.csproj.nuget.g.props
/Blue.Core/obj/Blue.Core.csproj.nuget.g.targets
/Blue.Core/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Blue.Core/obj/Debug/net6.0/Blue.Core.AssemblyInfo.cs
/Blue.Core/obj/Debug/net6.0/Blue.Core.AssemblyInfoInputs.cache
/Blue.Core/obj/Debug/net6.0/Blue.Core.assets.cache
/Blue.Core/obj/Debug/net6.0/Blue.Core.csproj.AssemblyReference.cache
/Blue.Core/obj/Debug/net6.0/Blue.Core.csproj.CoreCompileInputs.cache
/Blue.Core/obj/Debug/net6.0/Blue.Core.csproj.FileListAbsolute.txt
/Blue.Core/obj/Debug/net6.0/Blue.Core.dll
/Blue.Core/obj/Debug/net6.0/Blue.Core.GeneratedMSBuildEditorConfig.editorconfig
/Blue.Core/obj/Debug/net6.0/Blue.Core.GlobalUsings.g.cs
/Blue.Core/obj/Debug/net6.0/Blue.Core.pdb
/Blue.Core/obj/Debug/net6.0/ref/Blue.Core.dll
/Blue.Core/obj/Debug/net6.0/refint/Blue.Core.dll
/Blue.Core/obj/project.assets.json
/Blue.Core/obj/project.nuget.cache
