@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Management/Views/Shared/Layout.cshtml";
}
@model Tuple<List<Blue.Presentation.DistrictViewModel>>

@foreach (Blue.Presentation.DistrictViewModel DistrictViewModel in Model.Item1)
{
    <h1><a href="/management/district/update/@DistrictViewModel.Id">@DistrictViewModel.Id</a></h1>
}