@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Management/Views/Shared/Layout.cshtml";
}
@model Tuple<List<Blue.Presentation.SizeViewModel>>

@foreach (Blue.Presentation.SizeViewModel SizeViewModel in Model.Item1)
{
    <h1><a href="/management/size/update/@SizeViewModel.Id">@SizeViewModel.Id</a></h1>
}