@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Management/Views/Shared/Layout.cshtml";
}
@model Tuple<List<Blue.Presentation.FromWhoViewModel>>

@foreach (Blue.Presentation.FromWhoViewModel FromWhoViewModel in Model.Item1)
{
    <h1>@FromWhoViewModel.Id</h1>
}