@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Management/Views/Shared/Layout.cshtml";
}
@model Tuple<List<Blue.Presentation.FromWhoViewModel>>

@foreach (Blue.Presentation.FromWhoViewModel FromWhoViewModel in Model.Item1)
{
    <h1><a href="/management/fromwho/update/@FromWhoViewModel.Id">@FromWhoViewModel.Id</a></h1>
    <h1><a href="/management/fromwho/delete/@FromWhoViewModel.Id">@FromWhoViewModel.Id</a></h1>
    <br />
}