@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Management/Views/Shared/Layout.cshtml";
}
@model Tuple<List<Blue.Presentation.FeaturesInsideViewModel>>

@foreach (Blue.Presentation.FeaturesInsideViewModel FeaturesInsideViewModel in Model.Item1)
{
    <h1><a href="/management/featuresinside/update/@FeaturesInsideViewModel.Id">@FeaturesInsideViewModel.Id</a></h1>
}