@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/Management/Views/Shared/Layout.cshtml";
}
@model Tuple<Blue.Presentation.FeaturesInsideViewModel>

<h1>Update</h1>

<div>@Model.Item1.Id</div>
<div>@Model.Item1.Name</div>
<div>@Model.Item1.RegisterDate</div>
<div>@Model.Item1.UpdateDate</div>