@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Management/Views/Shared/Layout.cshtml";
}
@model Tuple<List<Blue.Presentation.FuelTypeViewModel>>

@foreach (Blue.Presentation.FuelTypeViewModel FuelTypeViewModel in Model.Item1)
{
    <h1><a href="/management/fueltype/update/@FuelTypeViewModel.Id">@FuelTypeViewModel.Id</a></h1>
}