@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Management/Views/Shared/Layout.cshtml";
}
@model Tuple<List<Blue.Presentation.BuyingTypeViewModel>>

@foreach (Blue.Presentation.BuyingTypeViewModel BuyingTypeViewModel in Model.Item1)
{
    <h1>@BuyingTypeViewModel.Id</h1>
}