@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Management/Views/Shared/Layout.cshtml";
}
@model Tuple<List<Blue.Presentation.BuyingTypeViewModel>>

@foreach (Blue.Presentation.BuyingTypeViewModel BuyingTypeViewModel in Model.Item1)
{
    <h1><a href="/management/buyingtype/update/@BuyingTypeViewModel.Id">@BuyingTypeViewModel.Id</a></h1>
    <h1><a href="/management/buyingtype/delete/@BuyingTypeViewModel.Id">@BuyingTypeViewModel.Id</a></h1>
    <br />
}