@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Management/Views/Shared/Layout.cshtml";
}
@model Tuple<List<Blue.Presentation.RoomViewModel>>

<section class="post-wrapper-top dm-shadow clearfix">
    <div class="container">
        <div class="post-wrapper-top-shadow">
            <span class="s1"></span>
        </div>
        <div class="col-lg-12">
            <ul class="breadcrumb">
                <li><a href="/management">Home</a></li>
                <li><a href="/management/room">Rooms</a></li>
            </ul>
        </div>
    </div>
</section>

<section class="generalwrapper dm-shadow clearfix">
    <div class="container">
        <div class="row">
            <div id="content" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 clearfix">
                <div class="bs-docs-section">
                    <div class="bs-example">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            @foreach (Blue.Presentation.RoomViewModel RoomViewModel in Model.Item1)
                            {
                                <tr>
                                    <td>@RoomViewModel.Id</td>
                                    <td>@RoomViewModel.Name</td>
                                    <td></td>
                                    <td><a href="/management/room/create">ekle</a> <a href="/management/room/update/@RoomViewModel.Id">guncel</a> <a href="/management/room/delete/@RoomViewModel.Id">sil</a></td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>