@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Management/Views/Shared/Layout.cshtml";
}
@model Tuple<List<Blue.Presentation.RoomViewModel>>

@foreach (Blue.Presentation.RoomViewModel RoomViewModel in Model.Item1)
{
    <h1>@RoomViewModel.Id</h1>
}