@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Management/Views/Shared/Layout.cshtml";
}
@model Tuple<List<Blue.Presentation.FeaturesOutsideViewModel>>

@foreach (Blue.Presentation.FeaturesOutsideViewModel FeaturesOutsideViewModel in Model.Item1)
{
    <h1><a href="/management/featuresoutside/update/@FeaturesOutsideViewModel.Id">@FeaturesOutsideViewModel.Id</a></h1>
}