@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Management/Views/Shared/Layout.cshtml";
}
@model Tuple<List<Blue.Presentation.FeaturesOutsideViewModel>>

@foreach (Blue.Presentation.FeaturesOutsideViewModel FeaturesOutsideViewModel in Model.Item1)
{
    <h1>@FeaturesOutsideViewModel.Id</h1>
}