@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Management/Views/Shared/Layout.cshtml";
}
@model Tuple<List<Blue.Presentation.CityViewModel>>

@foreach (Blue.Presentation.CityViewModel CityViewModel in Model.Item1)
{
    <h1><a href="/management/city/update/@CityViewModel.Id">@CityViewModel.Id</a></h1>
    <h1><a href="/management/city/delete/@CityViewModel.Id">@CityViewModel.Id</a></h1>
    <br />
}