@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Management/Views/Shared/Layout.cshtml";
}
@model Tuple<List<Blue.Presentation.FeaturesAroundViewModel>>

@foreach (Blue.Presentation.FeaturesAroundViewModel FeaturesAroundViewModel in Model.Item1)
{
    <h1>@FeaturesAroundViewModel.Id</h1>
}