@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Management/Views/Shared/Layout.cshtml";
}
@model Tuple<List<Blue.Presentation.BuildingTypeViewModel>>

@foreach (Blue.Presentation.BuildingTypeViewModel BuildingTypeViewModel in Model.Item1)
{
    <h1>@BuildingTypeViewModel.Id</h1>
}