@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Management/Views/Shared/Layout.cshtml";
}
@model Tuple<List<Blue.Presentation.ManagementViewModel>>

@foreach (Blue.Presentation.ManagementViewModel ManagementViewModel in Model.Item1)
{
    <h1>@ManagementViewModel.Id</h1>
    <br />
}