@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Management/Views/Shared/Layout.cshtml";
}
@model Tuple<List<Blue.Presentation.TypeViewModel>>

@foreach (Blue.Presentation.TypeViewModel TypeViewModel in Model.Item1)
{
    <h1>@TypeViewModel.Id</h1>
}